.body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(255,255,255,255,0.5);
    background: url(/assets/country.jpg);
}


header {
    background: rgba(0, 0, 0, 0.918);
    color: white;
    padding: 15px;
    text-align: center;
    
}

a:hover{
    color: rgba(255, 0, 0, 0.844);
    box-shadow: 0 10px 30px red;
}


.gallerybody {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(255,255,255,255,0.5);
    background: url(/assets/country.jpg);
     
    
}

.para{
    font-size: 50px;
    color: rgb(9, 12, 0);
    background-color: rgba(231, 216, 216, 0.566);
    margin-top: 20vh;
    
    
}


nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    
}

nav a:hover {
    text-decoration: underline;
}

.content {
    padding: 40px;
    text-align: center;
}



/* GALLERY PAGE */

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 30px;
    max-width: 1300px;
    margin: auto;
    background-color: rgba(189, 170, 170, 0.875);
    border-radius: 20px;
    box-shadow: 0 10px 30px black;
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.4s, box-shadow 0.4s;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgb(53, 29, 150);
    

}
.gallery h4{
    text-align: center;
    margin-top: 5%;
}



.modal {
    display: none;
    position: fixed;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.modal img {
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}


/* ABOUT PAGE */
.div{
    background-color: rgba(189, 170, 170, 0.933);
    border-radius: 30px;
    text-align: center;
    height: 200px;
    margin: 50px;
    margin-bottom: 0px;
    
    
    
}
.div:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgb(53, 29, 150);
}

/* Contact Form */
.contact-form {
    max-width: 400px;
    margin: auto;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.contact-form button {
    padding: 10px 20px;
    background: #222;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 500px;
}

.foot{
    margin-top: 40px;
}

.page{
   
    background-color: rgba(189, 170, 170, 0.933);
    margin: 100px;
    border-radius: 50px;
    margin-left: 450px;
    margin-right: 450px;

}

@media (max-width:600px){
    .body{
        display: block;
    }
}